/* CSS Variables from variable collection */
:root {
  /* Spacing */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-200: 1rem; /* 16px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-400: 2rem; /* 32px */
  --spacing-500: 2.5rem; /* 40px */

  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Colors - Purple */
  --color-purple-100: #f8eeff;
  --color-purple-600: #8b6990;
  --color-purple-950: #301534;

  /* Colors - Violet */
  --color-violet-600: #ad28eb;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', system-ui;
  margin: 0;
}

html {
  background-color: var(--color-purple-100);
}

h1,
p {
  margin: 0;
}

/* Typography Presets */

.text-preset-1 {
  color: var(--color-purple-950, #301534);
  font-family: 'Work Sans';
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-preset-2 {
  color: var(--color-purple-950, #301534);
  font-family: 'Work Sans';
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.text-preset-3 {
  color: var(--color-purple-600, #8b6990);
  font-family: 'Work Sans';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
}

.accordion__bg-container {
  background-color: var(--color-purple-950);
  height: 232px;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  padding-inline: var(--spacing-300);
  background-color: white;
}

.accordion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-300);
  padding: var(--spacing-300);
  border-radius: 8px;
  background: var(--colors-white, #fff);
  box-shadow: 0 32px 56px 0 rgba(80, 0, 118, 0.1);
  /* z-index: 1;
  margin-top: -50px;
  position: relative; */
}

.accordion__header {
  display: flex;
  gap: var(--spacing-300);
  align-items: center;
}

.accordion__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin: 0;
  gap: var(--spacing-300);
  width: 100%;
}

.accordion__list-item {
  border-bottom: 1px solid var(--color-purple-100);
}

.accordion__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-300);
}

.accordion__list-item:last-child {
  border-bottom: none;
}

.accordion__question-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.accordion__answer {
  margin-bottom: var(--spacing-300);
}
